
.container{
  align-items: center;
}

.header{
  color: black;
}

.bg-primary{
  background: #1587d8eb !important;
  color: white;
}

.bg-form{
  height: 80vh;
  padding: 0 10px !important;
  background: #1587d8eb;
  color: white;
  border-radius: 15px;
}

.tabla{
  height: 70vh;
}

.cj-btm{
  background: white !important;
}

.cj-btm-row{
  height: 6vh;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.t-body{
  height: 60vh;
  overflow-y: auto;
}

.card{
  border-radius: 15px;
}

.vacio{
  justify-content: center;
}

.cj-btm-row:hover{
  .cj-btm{
    background-color: rgb(0, 0, 0) !important;
    color: white;
  }
  .btn-danger{
    background-color: rgb(109, 4, 4) !important;
    border-color: black;
  }
}

.selected{
  .cj-btm{
    background-color: rgb(0, 0, 0) !important;
    color: white;
  }
  .btn-danger{
    background-color: rgb(109, 4, 4) !important;
    border-color: black;
  }
}
